.wrapper{
  color: var(--details-text-color);
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 8px;
  margin-top: 15px;
  background-color: var(--details-bg-color);
  &:hover{
    background-color: var(--details-hover-bg);
  }
}