.wrapper{
  display: flex;
  flex-flow: column;
  margin:0 8px;
  >.title{
    display: flex;
    flex-flow: column;
    align-items: center;
    >.font{
      margin-top: 5px;
      font-size: 18px;
      font-weight: 500;
      color: var(--details-text-color);
    }
  }
}