.wrapper{
  min-height: 100vh;
  width: 300px;
  background: linear-gradient(90deg,var(--nav-bg-start-color),var(--nav-bg-end-color));

  z-index: 10;
  >.line{
    margin-top: 15px;
    width: 100%;
    padding: 0 8px;
    >.spanLine{
      display: inline-block;
      height: 1px;
      width: 100%;
      background-color: #4d4d4f;
    }
  }
}