:root .light{
  --nav-bg-start-color:#202123;
  --nav-bg-end-color:#1f2022;
  --nav-border-color:#555659;
  --nav-text-color:white;
  --nav-hover-color:#2b2c2f;
  --chat-item-text-color:white;
}


:root .dark{}